*{
    margin: 0px;
    padding: 0px;
}

/* .lokal{
    background-color: black;
} */

.card {
    display: block;
    background-color: #132b00;
    margin-top: 0px;
    padding-top: 1px;
    padding-bottom: 6px;
}


img{
    margin-top: 14px;
    margin-bottom: 10px;
    margin-left: 14px;
    width: 220px;
}

.PMB img {
    margin-top: 14px;
    margin-bottom:-120px;
    margin-left: 54%;
    width: 45%;
}


header nav{
    position: absolute;
}

header nav ul{
    margin: -8%;
    padding-left: 140%;
    display: flex;
    font-size: 10px;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    color:white;
    line-height: 3px;
    padding: 8px;
    text-decoration: none;
    display: block;
}

header .card nav ul li a:hover,
header .card nav ul li a.active{
    color: white;
    background-color: #00ff4441;
}

.p-satu {
    color: hsl(129, 84%, 41%);
    margin-top: -390px;
    font-size: 35px;
    margin-left: 15px;
}

.p-dua{
    font-size: 20px;
    margin-top: 6px;
    margin-left: 15px

}


.Shape {
    display: block;
    background-color:#11c12b;
    margin-top: 230px;
    padding-top: 100px;
    padding-bottom: 100px
}

.p-tiga{
    color: white;
    font-size: 32px;
    margin-top: -229px;
    margin-left: 15px
}

.p-empat{
    color: white;
    font-size: 18px;
    margin-top: -16px;
    margin-left: 15px
}

.p-lima{
    color: #11c12b;
    font-size: 32px;
    margin-top: 50px;
    margin-left: 15px
}

.p-enam{
    color: black;
    font-size: 18px;
    margin-top: px;
    margin-left: 15px
}


.Ahmad img{
    margin-top: -250px;
    margin-left: 64%;
    width: 35%;
}

.bottom {
    display: block;
    background-color:#323437;
    margin-top: 20px;
    padding-top: 150px;
    padding-bottom: 190px
}
